html {
    background-color: #114411;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

div#header {
    padding: 10px;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Card */
rect {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

/* Card Text */
text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

svg, p.scoreText {
    display: inline-block;
}

button, input {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 8px 4px;
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

button {
    background-color: #282;
    color: white;
}

button:hover {
    background-color: #484;
}

button:active {
    background-color: #8C8;
}

button:disabled {
    background-color: #666;
}

input {
    width: 100px;
}