html {
    background-color: #141;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

rect {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    color: #282
}

button {
    border: none;
    color: white;
    background-color: #282;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 8px 4px;
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

button:hover {
    background-color: #484;
}

svg, p.scoreText {
    display: inline-block;
}